{% extends 'gyvuneliai/main.html' %}

{% block content %}
    <h1 class="text-center">Apie mus</h1>
    <p>Panevėžio gyvūnų globos draugija - benamių šunų prieglauda, 2010 metais įkurta Panevėžio raj. Karšinaukos kaime.
        Valstybės nefinansuojama, remiama žmonių aukomis.</p>

    <p>Visų beglobių keturkojų MOTINA, jau 20-imt metų kurianti organizacijas pamestinukams priglausti, šunų dresuotoja,
        kinologė - ekspertė ir vienintelės Panevėžio gyvūnų globos draugijos įkūrėja bei vadovė - Rūta Liberienė Įkūrė
        laikinus erdvius namus išmestiems, nemylėtiems gyvūnams Kaimiškyje, Panevėžio raj., kur nuo 2010- ųjų gyvuoja
        vienintelė gyvūnų prieglauda Panevėžio mieste.
        Prieglauda nuolatos tobulinama ir modernizuojama - dėka pavienių aukų, piniginių perlaidų bei 1,2 % GPM prieglaudos
        ūkis nuolatos atnaujinamas.
        Su ūkio dalies "aktyvatoriumi" Justinu Stašiu bei kitų savanorių pagalba įrengta daug naujų voljerų, atnaujintas
        fasadas, išklotos vidaus ir lauko voljerų plytelės bei plytelės šalia voljerų; trinkelės. Dėka gerų žmonių sudėti
        plastikiniai langai, naujos durys. Santaupų ir ilagalaikių savanorių dėka įdiegta cirkuliacinė šildymo sistema,
        pasėta žolė, padedant talkininkaujančių kviestinių savanorių, nuolatos švarinamas miškas aplinkui, nuolatos pjaunama
        žolė. Prieglauda gražėja faunos gausa, savanoriai nepailsta rūpintis vidaus ūkio švara ir gyvūnų sveikata,
        dažniausiai naudojamų patalpų estetika. Perkami ūkiui bei vidui reikalingi įrankiai, bei gyvūnų kasdieniai
        reikmenys. Aukų dėka, visus metus turime pinigų mokesčiams už elektrą (siekia 450 EU per mėn.), veterinaro
        paslaugoms (jų reikia nuolatos, neatidėliotinai ar atsitiktinai- kartais iki 630 EU per mėn.) ir pan. Kuo labiau
        žmonės aukoja, juo labiau galime mažinti beveislių beglobių populiaciją savame mieste, esant būtinybei (gyvūnų
        pertekliui) galime tam skirti pinigų - jie skiriami gyvūnų sterilizacijai, jaunų šuniukų skiepams.
        Gyvūnai nuolatos maitinami, valomi jų gardai, tenkinami jų poreikiai pasivaikščioti, būti mylimiems žmonių.
        PERIMAME gyvūnus iš Panevėžio Specialiojo Autotransporto, kur pagal įstatymą, savininkų neatsiimti gyvūnai būtų
        migdomi; suteikiame jiems prieglobstį, apsaugodami nuo mirties ir suteikdami namus kol bus priglausti naujų
        šeimininkų.
        Siekiame, jog jūsų visų aukų dėka ši prieglauda taptų sanatorija, o ne kalėjimu keturkojams našlaičiams.</p>
{% endblock content %}
