<!-- <a class="dropdown-item" href="/parama">Parama</a>
     <a class="dropdown-item" href="/statistika">Beglobiu statistika</a> -->

<header>
    <div class="container">
        <div class="subcontainer">
            <nav class="nav">
                <a href="/" class="nav-logo-wrapper">
                        <img alt="" src="../../../media/logo.png" class="nav-logo" />
                        <p class="nav-branding"> Panevėžio Gyvunų Pagalba</p>
                </a>
                <ul class="nav-menu">
                    <li class="nav-item">
                        <a href="/sunys" class="nav-link">Šunys</a>
                    </li>
                    <li class="nav-item">
                        <a href="/kates" class="nav-link">Katės</a>
                    </li>
                    <li class="nav-item">
                        <a href="/apie" class="nav-link">Apie mus</a>
                    </li>
                    <li class="nav-item">
                        <a href="/kontaktai" class="nav-link">Kontaktai</a>
                    </li>
                    <li class="nav-item">
                        <a href="/savanoryste" class="nav-link">Savanoriauk!</a>
                    </li>

                </ul>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>
        </div>
    </div>
</header>
