{% extends 'gyvuneliai/main.html' %}{% block content %}
<!-- raw SQL query printed in the line below -->
{#{animals}#}
<section id="home">
    <div class="container">
        <div class="subcontainer">
            <div class="hero-image">
                <!-- <div class="hero-text">
                                    <h1>Sveiki atvyke!</h1>
                                    <p>Panevezio gyvunu globos namus</p>
                                    <button>Katytes</button>
                                    <button>Suniukai</button>
                                </div> -->
            </div>
            <h2 class="home-title">Naujausi prieglaudos gyvunėliai</h2>
            <div class="home-animal-card-wrapper">
                {% for animal in animals %}
                <div class="home-animal-card">
                    <img src="{{animal.photo.url}}">
                    <a href="{% url 'suo' animal.id %}">{{animal.title}}</a>
                </div>
                {% empty %}
                <h3>no posts found...</h3>
                {% endfor %}
            </div>
            <div class="home-cta">
                <h2>Not Ready to Adopt or Foster a Dog or Pup?</h2>
                <hr />
                <strong>We understand that not all lifestyles and households can include a dog or cat for various
                    reasons. For those who still care and wish to make an impact, we will gladly accept your monetary
                    donation of any size.</strong>
                <br />
                <button>Parama</button>
            </div>

        </div>
    </div>
</section>


{% endblock content %}
