<p class="pt-4 pb-4 mb-0">All dogs are microchippped, neutered, current on allvaccines, heartworm tested (if age appropriate) and
    up to
    date on preventatives at the time of adoption.

    All household members and any dogs from the household need
    to be present at the time of your appointment. Photo ID
    will be required at time of adoption.

    The shelter is currently open by appointment only with an
    approved application. Please note, all applications are
    considered general and stay on file for 6 months. Specific
    animals are NOT put on hold for adoption. When you visit,
    the adoption counselors will be able to make suggestions
    based on the type of pet you are looking for and help you
    find the best fit for your family.

    Animal House Shelter cannot guarantee the breeds of the
    adoptable animals. The animals are posted on the website
    as the breed or breed mix based on their physical
    characteristics they most resemble. We also cannot
    guarantee the ages of our adoptable animals or how large
    puppies will be when fully grown.

    We look forward to seeing you soon!
</p>
