{% extends 'gyvuneliai/main.html' %}

{% block content %}
<h1 class="text-center">Kontaktai</h1>
<div class="row mt-3">
    <div class="col-12 col-md-12 col-lg-6">
        <h2>KONTAKTAI</h2>
        <div class="info-list">
            <ul>
                <li>
                    <span class="info-name">Adresas</span>
                    <span class="info-value">Karšinaukos g. 40 Karšinaukoas kaimas, 38104, Panevėžio Raj.</span>
                </li>
                <li>
                    <span class="info-name">Telefonas</span>
                    <span class="info-value">+370 698 88741</span>
                </li>
                <li>
                    <span class="info-name">El.paštas</span>
                    <span class="info-value">rutaliber.r@gmail.com</span>
                </li>
                <li>
                    <span class="info-name">Paramos gavėjo kodas</span>
                    <span class="info-value">193437187</span>
                </li>
                <li>
                    <span class="info-name">SĄSKAITA</span>
                    <span class="info-value">LT 47 7300 0100 0237 9105</span>
                </li>
            </ul>
            <hr style="padding-bottom: 20px" />
            <li>
                <span class="info-name">Darbo Laikas</span>
                <span class="info-value">10-14val. (pirmadienis-sekmadienis)</span>
            </li>
            <a href="https://www.facebook.com/prieglauda/"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/paneveziogyvunuglobosdraugija/"><i
                    class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
    <div class="col-12 col-md-12 col-lg-6">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4491.550806233222!2d24.477423980169227!3d55.74503126391005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e6323755b1758d%3A0xb41f6287acac9733!2sPanevezio%20gyvunu%20globos%20draugija!5e0!3m2!1sen!2slt!4v1668246813773!5m2!1sen!2slt"
            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

{% endblock content %}

</div>
