<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">PanevezioGyvunuPagalba.lt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sunys">Sunys</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/kates">Kates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/kontaktai">Kontaktai</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">Prieglauda</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/admin">ADMIN</a>
                    <a class="dropdown-item" href="/apie">Apie mus</a>
                    <a class="dropdown-item" href="/savanoryste">Savanoryste</a>
                    <a class="dropdown-item" href="/parama">Parama</a>
                    <a class="dropdown-item" href="/statistika">Beglobiu statistika</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
