* {
  margin: 0px;
  padding: 0px;
}

/* GENERAL */

body {
  position: relative;
}

.container {
  width: 1600px;
  margin: auto;
  /* background-color: lightslategrey; */
}

.subcontainer {
  width: 90%;
  /* background-color: darkslategrey; */
  margin: auto;
}

.page-title {
  color: black;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  padding: 20px;
}

/* GENERAL end */

/* HEADER */

/* fixed header tut -
   https://www.youtube.com/watch?v=zuAmsj2EN54&ab_channel=WebDevTutorials
*/

/* header issisoka per visa width, tuomet su container ir
   subcontainter pagalba issicentruoja */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: lightcoral;
  z-index: 2;
}

nav li {
  list-style: none;
}

nav a {
  color: black;
  text-decoration: none;
}

.nav {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-logo-wrapper {
  display: flex;
  align-items: center;
}

.nav-logo {
  height: 60px;
  padding: 10px;
}

.nav-branding {
  font-size: 1.5rem;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block; /*aligned in column*/
  width: 25px;
  height: 3px;
  margin: 5px 0; /*top/bottom only*/
  transition: all 0.3sec ease;
  background-color: black;
}

/* header end */

/* HOME section */

/* hero section */

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url("https://scontent.fkun1-1.fna.fbcdn.net/v/t39.30808-6/310380149_5529114800505634_55805098858257727_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=8X0n4zms4bsAX8d83lf&_nc_ht=scontent.fkun1-1.fna&oh=00_AfAbTFlMyKjafv9MDYXxX1MhhD8lU3MwR4u2nlHsD0vtuw&oe=6383491C");
  height: 70vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-title {
  font-size: 40px;
}

.hero-subtitle {
  font-size: 30px;
}

.btn-hero {
  color: white;
  background-color: #6ab165;
}

.btn {
  padding: 18px 25px;
  border-radius: 10px;
  border: none;
}

.btn a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* hero section end */

#home {
  margin-top: 70px;
}

.home-title {
  text-align: center;
  padding: 20px 0px;
}

.home-animal-card-wrapper {
  background-color: greenyellow;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px 0px;
}

.home-animal-card {
  display: flex;
  flex-direction: column;
  background-color: palegreen;
  text-align: center;
}

.home-animal-card img {
  width: 150px;
}

.home-animal-card a {
  color: red;
}

.home-cta {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  text-align: center;
  background-color: lightpink;
  padding: 20px 0px;
}

.home-cta button {
  width: min-content;
}

/* animal-card end */
footer {
  background-color: orange;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}

/* ANIMAL section */

#animal-gallery {
  margin-top: 70px;
}

.animal-gallery-title {
  color: pink;
  text-align: center;
  padding: 20px;
}

.animal-gallery-wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.animal-gallery-card-img {
  width: 200px;
}

.animal-gallery-card-title {
  color: black;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 22px;
}

/* ANIMAL section end */

/* ANIMAL profile */

#animal-profile {
  margin-top: 70px;
}

.animal-profile-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  background-color: lightgray;
}

.animal-profile-img {
  width: 50%;
  object-fit: fill;
}

.animal-profile-info {
  width: 50%;
}

.animal-profile-title {
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  padding-right: 20px;
  display: inline-block;
  font-size: 30px;
  margin-bottom: 20px;
}

.animal-profile-info-title {
  line-height: 2;
}

.animal-profile-description {
  padding: 20px 0px;
}

/* ANIMAL profile end */

/* KONTAKTAI section  */

#kontaktai {
  margin-top: 70px;
}

.kontaktai-wrapper {
  display: flex;
}

.kontaktai-info {
  width: 100%;
}

.kontaktai-info li {
  list-style: none;
}

.kontaktai-info-name {
  font-weight: 900;
}

.kontaktai-info-value {
}

.kontaktai-map {
  width: 100%;
}

/* KONTAKTAI section end  */

/* apie section */

#apie {
  margin-top: 70px;
}

/* apie section end */

/* savanoryste section */

#savanoryste {
  margin-top: 70px;
}

/* savanoryste section end */

/* parama section */

#parama {
  margin-top: 70px;
}

/* parama section end */

/* MEDIA QUERIES */

/* dont try to be 1600px on all screen sizes, only at 1600px be 100% */
@media (max-width: 1600px) {
  .container {
    width: 100%;
  }

  .kontaktai-wrapper {
    flex-direction: column;
  }

  .animal-profile-wrapper {
    flex-direction: column;
  }

  .animal-profile-img {
    width: 100%;
  }
  .animal-profile-info {
    width: 100%;
  }

  .hero-title {
    font-size: 20px;
  }

  .page-title {
    font-size: 20px;
  }

  .hero-subtitle {
    font-size: 15px;
  }

  .btn {
    padding: 9px 15px;
    border-radius: 5px;
  }

  .nav-branding {
    font-size: 1rem;
  }
}

/* only when the screen is 1024px or smaller, display hamburger menu */
@media (max-width: 1024px) {
  .hamburger {
    display: block;
  }

  /* adding active class for these 3 in JS */
  /*hiding the second bar so its not in a way*/
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  /* rotating this bar to a -45deg on CLICK in js(due to added active class) */
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  /* rotating this bar to a -45deg on CLICK in js(due to added active class) */
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed; /*making it to go together with fixed nav */
    top: 70px; /*putting it right below fixed nav*/
    right: -100%;
    gap: 0;
    flex-direction: column;
    background-color: yellow;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  /* adding active class in JS  */
  .nav-menu.active {
    right: 0;
  }

  .nav-item {
    margin: 16px 0;
  }
}
