* {
  margin: 0px;
  padding: 0px;
}

/* hero */

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../media/banner.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text a {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text a:hover {
  background-color: #555;
  color: white;
}

/* hero end */

.info-list {
  font-size: 0.875rem;
}

.info-list ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.info-list li {
  margin-bottom: 6px;
  display: flex;
}

.info-name {
  font-weight: 500;
  text-transform: uppercase;
  width: 150px;
  display: flex;
  font-weight: bold;
}

.info-value {
  color: #838889;
}

/* animal card */

.row {
  margin-right: 0px !important; /*removing the daufault 15px on both sides*/
  margin-left: 0px !important; /*removing the daufault 15px on both sides*/
}

.card--wrapper {
}

.animal-image {
  width: 100%;
}

.cardStats--wrapper {
  padding: 20px;
}

.cardStats--title {
  text-transform: uppercase;
  display: inline-block;
  border-bottom: 1px solid;
}
